@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;700&display=swap');


.container-cadastro{
    background: #7F7FD5;
    background-image: radial-gradient( circle farthest-corner at 1.3% 2.8%,  rgba(239,249,249,1) 0%, rgba(182,199,226,1) 100.2% );
    height: 100vh;
}

.cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}

.card-cadastro{
    height: 75%;
    width: 37%;
}

.form-cadastro{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 300;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: .5em;
    box-shadow: 5px 1px 3px rgba(0, 0, 0, 0.288);
}

.zindex1{
    z-index: 1;
}

.cadastro-label{
    margin-right: 37%;
    font-weight: 100;
    font-size: 2rem;
}

.cadastro-input{
    padding: .8em 2em;
    border-radius: 3em;
    outline: none;
    width: 65%;

    border: 1px solid #c3c5c7;
}

.inputEntrada {
    width: 100%;
    text-align: center;
    margin-bottom: 2em;    
}



.cadastro-botao{
    margin-bottom: 2em;
    padding: .8em 2em;
    border-radius: 3em;
    width: 65%;
    outline: none;
    border: none;

    background-size: 150% 100%;

    background-image: linear-gradient(to right, #00d4ff 0%, rgba(9,9,121,1) 100%, rgba(2,0,36,1) 50%);
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.75);
    color: white;
    transition: all .8s ease-in-out;
}

.cadastro-botao:hover{
    transition: all .8s ease-in-out;
    background-position: 80% 0;
}

.cadastro-esqueci-senha{
    text-decoration: none;
    color: #183db6;
    cursor: pointer;
    font-weight: 300;
    transition: all 1s ease-in-out;
}

.cadastro-esqueci-senha:hover{
    text-decoration: underline;
    transition: all 1s ease-in-out;
}


