.habilidadeUsuario_badges{
    display: flex;
    flex-direction: row;
    max-width: 50%;
}

.habilidadeUsuario_badges-margin{
    margin-right: .1em;
}

.habilidadeUsuario_badges-margin span{
    padding: .5em .8em;
    font-size: .9em;
}