<header>
    <nav class="px-3 py-2 bg-dark text-white">
        <div class="container">
            <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
                <a [routerLink]="['/home']" class="d-flex align-items-center my-2 my-lg-0 me-lg-auto text-white text-decoration-none">
                    <img src="/assets/img/logo.svg" alt="" height="50px">
                </a>

                <ul class="nav col-12 col-lg-auto my-2 justify-content-center my-md-0 text-small">
                    <li>
                        <a [routerLink]="['/home']" class="nav-link text-white">
                            <i class="bi bi-house-door"></i>
                            Home
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['habilidades']" class="nav-link text-white">
                            <i class="bi bi-table"></i>
                            Habilidades
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['nova-habilidade']" class="nav-link text-white">
                            <i class="bi bi-speedometer2"></i>
                            Adicionar Habilidade
                        </a>
                    </li>
                    <li>
                        <a [routerLink]="['vincular-habilidade']" class="nav-link text-white">
                            <i class="bi bi-file-plus"></i>
                            Vincular Habilidade
                        </a>
                    </li>
                     <li>
                        <a (click)="logout()" class="nav-link text-white">
                            <i class="bi bi-person-circle"></i>
                            Logout
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>