.form-usuario-habilidade {
    max-width: 800px;
}

.form-usuario-habilidade-botoes{
    display: flex;
    justify-content: space-between;
}

.form-usuario-habilidade-input{
    display: flex;
}

.form-usuario-habilidade-input div {
    display: flex;
    flex-direction: column;
    height: 8em;
    width: 100%;
    align-items: center;
}