<form [formGroup]="usuarioHabForm" class="container mt-3 form-usuario-habilidade">
    <div class="row">
        <div class="col">
            <label for="inputHabilidade" class="form-label mt-4">Habilidade</label>
            <select formControlName="habilidade" type="text" class="form-select" placeholder="First name" id="inputHabilidade">
                <option value="" selected disabled>Selecione uma habilidade...</option>
                <option *ngFor="let habilidade of habilidades" value="{{habilidade.id}}">{{habilidade.nome}}</option>
            </select>
            <p class="danger text-muted mt-1" *ngIf="usuarioHabForm?.get('nome')?.errors?.required && usuarioHabForm.touched">
                Por favor, selecione uma habilidade.
            </p>
        </div>
        <div class="col">
            <label for="inputNivel" class="form-label mt-4">Nível</label>
            <input type="number" class="form-control" placeholder="Nível" min="1" max="5" formControlName="nivel" id="inputNivel">
            <p class="danger text-muted mt-1" *ngIf="usuarioHabForm?.get('descricao')?.errors?.required">
                O nível mínimo é 1.
            </p>
        </div>
    </div>

    <div class="form-usuario-habilidade-botoes mt-4">
        <button class="btn btn-danger" (click)="cancelar()">Cancelar</button>
        <button class="btn btn-success" (click)="salvar()">Salvar</button>
    </div>
</form>