.tabela-logs{
    width: 100%;
    margin-top: 3em;
}

.tabela-logs-margin-left{
    padding-left: 4em;
}

.tabela-logs-margin-right{
    padding-right: 2em;
}

.logs-paginacao{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.logs-pagina-atual{
    padding: 0 2em;
}

.logs-anterior, .logs-proxima{
    cursor: pointer;
    color: black;
}

.logs-anterior:hover, .logs-proxima:hover{
    filter: opacity(50%);
}