<div class="habilidades-container">
    <table class="table table-hover table-bordered">
        <thead class="table-secondary">
            <tr>
                <th class="espacamento-esquerda_habilidade" scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Descrição</th>
                <th scope="col">Data de Criação</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let habilidade of habilidades">
                <td class="espacamento-esquerda_habilidade">{{ habilidade.id }}</td>
                <td>{{habilidade.nome}}</td>
                <td>{{habilidade.descricao}}</td>
                <td>{{habilidade.createdAt}}</td>
            </tr>
        </tbody>
    </table>
</div>