<form #formUsuarioHabilidade="ngForm" [formGroup]="usuarioHabForm" class="container mt-3 form-usuario-habilidade">
    <div class="row">
        <div class="col">
            <label for="inputHabilidade" class="form-label mt-4">Habilidade</label>
            <select formControlName="id_habilidade" type="text" class="form-select" placeholder="First name" id="inputHabilidade">
                <option value="" selected disabled>Selecione uma habilidade...</option>
                <option *ngFor="let habilidade of habilidades" value="{{habilidade.id}}">{{habilidade.nome}}</option>
            </select>
            <cat-vmessage *ngIf="usuarioHabForm.get('id_habilidade')?.errors?.required && formUsuarioHabilidade.submitted"
                text="Por favor, selecione uma habilidade"></cat-vmessage>
        </div>
        <div class="col">
            <label for="inputNivel" class="form-label mt-4">Nível</label>
            <input type="number" class="form-control" placeholder="Nível" min="1" max="5" formControlName="nivel" id="inputNivel">
            <cat-vmessage *ngIf="usuarioHabForm.get('nivel')?.errors?.required && formUsuarioHabilidade.submitted" text="O nível mínimo é 1"></cat-vmessage>
            <cat-vmessage *ngIf="usuarioHabForm.get('nivel')?.errors?.pattern" text="O nível deve estar entre 1 e 5"></cat-vmessage>
        </div>
    </div>

    <div class="form-usuario-habilidade-botoes mt-4">
        <button class="cancelar-usuario-botao" (click)="cancelar()">Cancelar</button>
        <button class="habilidade-usuario-botao" (click)="salvar()">Salvar</button>
    </div>
    <div class="text-center mt-3">
        <div *ngIf="erroHabilidade" class="alert alert-danger" role="alert">
            Você já possui esta habilidade cadastrada
        </div>
    </div>
</form>