<aside class="menu-lateral">

    <div class="menu-usuario">
        <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-person-bounding-box" viewBox="0 0 16 16">
            <path d="M1.5 1a.5.5 0 0 0-.5.5v3a.5.5 0 0 1-1 0v-3A1.5 1.5 0 0 1 1.5 0h3a.5.5 0 0 1 0 1h-3zM11 .5a.5.5 0 0 1 .5-.5h3A1.5 1.5 0 0 1 16 1.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 0-.5-.5h-3a.5.5 0 0 1-.5-.5zM.5 11a.5.5 0 0 1 .5.5v3a.5.5 0 0 0 .5.5h3a.5.5 0 0 1 0 1h-3A1.5 1.5 0 0 1 0 14.5v-3a.5.5 0 0 1 .5-.5zm15 0a.5.5 0 0 1 .5.5v3a1.5 1.5 0 0 1-1.5 1.5h-3a.5.5 0 0 1 0-1h3a.5.5 0 0 0 .5-.5v-3a.5.5 0 0 1 .5-.5z"/>
            <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3zm8-9a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          </svg>
        <p class="nome-usuario">{{userData.nome}}</p>
        <p class="cargo-usuario">{{userData.cargo}}</p>
    </div>

    <nav class="nav-paginas">
        
        <ul class="list-items">
            <div class="paginas">
                <li class="list-item">
                    <a><i class="bi bi-house-door me-3"></i>Home</a>
                </li>
                <li class="list-item">
                    <a><i class="bi bi-table me-3"></i>Habilidades</a>
                </li>
                <li class="list-item">
                    <a><i class="bi bi-speedometer2 me-3"></i>Adicionar Habilidade</a>
                </li>
                <li class="list-item">
                    <a><i class="bi bi-file-plus me-3"></i>Vincular Habilidade</a>
                </li>
            </div>
        </ul>
    </nav>

    <div class="list-item logout">
        <a><i class="bi bi-box-arrow-left me-3"></i>Logout</a>
    </div>
</aside>