<section class="perfil">
    <div class="perfil__usuario">
        <div class="perfil__dados">
            <svg xmlns="http://www.w3.org/2000/svg" width="128" height="128" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
            </svg>
            <div class="dados__pessoais">
                <div class="dados__id">ID: {{usuario.id}}</div>
                <div class="dados__nome">Nome: {{usuario.nome}}</div>
                <div class="dados__cargo">Cargo: {{usuario.cargo}}</div>
                <div class="dados__email">Email: {{usuario.email}}</div>
            </div>
        </div>
        <div class="perfil__habilidades">
            <table class="tabela__habilidades">
                <thead class="tabela__cabecalho"> 
                    <tr>
                        <th>Habilidades</th>
                        <th>Nível</th>
                        <th *ngIf="isGestor || isSameUser">Remover</th>
                    </tr>
                </thead>
    
                <tbody class="tabela__corpo">
                    <tr *ngFor="let habilidade of habilidades">
                        <td>{{habilidade.nome}}</td>
                        <td>{{habilidade.nivel}}&#9733;</td>
                        <td *ngIf="isGestor || isSameUser" (click)="excluir(habilidade.id)" class="tabela__remover" title="Remover">
                            <svg xmlns="http://www.w3.org/2000/svg" width="21" height="21" fill="currentColor" class="bi bi-trash-fill" viewBox="0 0 16 16">
                            <path d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1H2.5zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5zM8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5zm3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0z"/>
                          </svg></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="paginacao">
            <div class="paginaAnterior">
                <svg *ngIf="paginaAtual != 1" (click)="anterior()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-left-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"/>
                </svg>
            </div>

            <div class="paginaAtual">
                <svg *ngIf="habilidades.length>=6" (click)="proxima()" xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-arrow-right-circle" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"/>
                </svg>
            </div>

        </div>
    </div>
</section>