.perfil{
    width: 100%;
    height: calc(100% - 3rem);
}

.perfil__usuario{
    background-color: #fdfdfd;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.199);
    border-radius: 1rem;
    margin: 3rem;
    height: 85%;

    display: grid;
    grid-template-areas: "dados" "habilidades" "paginacao";
    grid-template-columns: auto;
    grid-template-rows: 30% 1fr 8%;
}

.perfil__dados{
    display: flex;
    grid-area: dados;
    align-items: center;
    padding-top: 1em;
    padding-left: 3em;
    border-bottom: 1px solid rgba(51, 51, 51, 0.397);
}


.dados__pessoais{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
    height: 100%;
    margin-left: 2em;
}

.perfil__habilidades{
    grid-area: habilidades;
}

.tabela__habilidades{
    width: 65%;
    margin: auto;
    margin-top: 3rem;
    font-size: 1.2em;
}

.tabela__cabecalho{
    background-color: rgba(51, 51, 51, 0.356);
    
    height: 3rem;
    border-bottom: 1px solid #33333367;
    
    
}

.tabela__cabecalho th{
    margin: 5px;  
    text-align: center;
}

.tabela__corpo{
    text-align: center;
}

.tabela__corpo td{
    border-bottom: 1px solid #33333367;
    padding: .5em;
}

.tabela__corpo > tr:hover{
    background-color: #33333333;
}

.paginacao{
    grid-area: paginacao;
    display: grid;
    grid-template-areas: "anterior proxima";
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    width: 50%;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    text-align: center;
    
}

.paginacao svg:hover{
    filter: opacity(50%);
    cursor: pointer;
}

.paginaAnterior{
    grid-area: anterior;
    padding: auto;
}

.paginaAtual{
    grid-area: proxima;
}

.tabela__remover{
    color: brown;
    cursor: pointer;
}

.tabela__remover:hover{
    color: #03045e;
}