<form class="form-login container">
    <img class="mb-4 form-login_titulo" src="/assets/img/logo.svg" alt="" width="80" height="60">
    <h1 class="h3 mb-3 fw-normal form-login_titulo">Cadastro</h1>

    <div class="form-floating mt-3">
        <input type="email" class="form-control" id="inputNome" placeholder="Nome">
        <label for="inputNome">Nome</label>
    </div>

    <div class="form-floating mt-3">
        <input type="email" class="form-control" id="inputEmailCad" placeholder="Email">
        <label for="inputEmailCad">Email</label>
    </div>

    <div class="form-floating mt-3">
        <input type="password" class="form-control" id="inputSenhaCad" placeholder="Senha">
        <label for="inputSenhaCad">Senha</label>
    </div>

    <div class="form-floating mt-3">
        <input type="password" class="form-control" id="inputCargo" placeholder="Cargo">
        <label for="inputCargo">Cargo</label>
    </div>


    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Entrar</button>
    <div class="form-login_label mt-2">
        <a [routerLink]="['']">Já tenho uma conta</a>
    </div>
</form>