<form #formLogin="ngForm" [formGroup]="formSignin" class="form-login container" (submit)="logar()">
    <img class="mb-4 form-login_titulo" src="/assets/img/logo.svg" alt="" width="80" height="60">
    <h1 class="h3 mb-3 fw-normal form-login_titulo">Login</h1>

    <div class="form-floating mt-3">
        <input formControlName="email" type="email" class="form-control" id="inputEmail" placeholder="Digite seu email...">
        <label for="inputEmail">Email</label>
        <cat-vmessage *ngIf="formSignin.get('email')?.errors?.required && (formSignin.get('email')?.touched || formLogin.submitted)"
            text="Por favor, digite um email"></cat-vmessage>

        <cat-vmessage *ngIf="formSignin.get('email')?.errors?.email && (formLogin.submitted)"
            text="Digite um email válido"></cat-vmessage>
    </div>
    <div class="form-floating mt-3">
        <input formControlName="senha" type="password" class="form-control" id="inputSenha" placeholder="Senha">
        <label for="inputSenha">Senha</label>
        <cat-vmessage *ngIf="formSignin.get('senha')?.errors?.required && (formSignin.get('senha')?.touched || formLogin.submitted)"
            text="Por favor, digite uma senha"></cat-vmessage>
        <cat-vmessage *ngIf="(formSignin.get('senha')?.errors?.minlength || formSignin.get('senha')?.errors?.maxlength) && formLogin.submitted"
            text="Senha inválida"></cat-vmessage>
    </div>
    <button class="w-100 btn btn-lg btn-primary mt-3" type="submit">Entrar</button>
    <div class="text-center">
        <cat-vmessage
            *ngIf="erroLogado"
            text="Email e/ou Senha inválidos"></cat-vmessage>
    </div>
        
    <div class="form-login_label mt-2">
        <a [routerLink]="['cadastrar']">Criar conta</a>
        <p>Esqueci minha senha</p>
    </div>
</form>