<div class="container-recuperar-senha">
    <div class="recuperar-senha">
        <div class="card-recuperar-senha zindex1">
            <form [formGroup]="recuperarSenhaForm" class="form-recuperar-senha" (submit)="enviarEmail($event)">
                <p class="recuperar-senha-label">Recuperar Senha</p>
                <p class="recuperar-senha-description">Um email de recuperação de senha será enviado.</p>                
                <div class="inputEmail inputEntrada">
                    <input formControlName="email" class="recuperar-senha-input" type="text" placeholder="Digite seu email">
                </div>
                <button class="recuperar-senha-botao" type="submit">Enviar Email</button>
                <a (click)="voltar()" class="voltar-login">Voltar</a>
            </form>
        </div>
    </div>
</div>
